@smoothgrey: #c0c0c0;
@mineshaft: #373737;


.home {

  .heading-content {
    border-bottom: 2px dashed @smoothgrey;

    img {
      padding-bottom: 25px;
    }

    p {
      padding-bottom: 20px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }

    .btn {
      width: 80%;
      border: 2px solid #88d4d4;
      border-radius: 15px;
      padding: 15px 0;
      font-size: 1.8rem;
      .custom-btn(center;
      center;
      #017B71;
      #fff);

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

// home